VITE_REOWN_PROJECT_ID=
VITE_ORACLE_WORKER_URL=https://your-worker.example.workers.dev
VITE_SEPOLIA_CCIP_SELECTOR=16015286601757825753
VITE_AMOY_CCIP_SELECTOR=16281711391670634445
VITE_SEPOLIA_EXPLORER_URL=https://sepolia.etherscan.io
VITE_AMOY_EXPLORER_URL=https://amoy.polygonscan.com
VITE_CCIP_EXPLORER_URL=https://ccip.chain.link
VITE_MTRWA_CCIP_TOKEN_MANAGER_URL=https://test.tokenmanager.chain.link/dashboard/xxxxxx
VITE_GITHUB_REPO_URL=
